[Desktop Entry]
Type=Application
Name=Dolphin
Comment=File Manager
Exec=dolphin
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
